@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

figure {
  margin: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

.btn {
  padding: 0;
  border: 0;
  background: none;
  border-radius: 0;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

body {
  position: relative;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 12px;
  color: #666;
  font-weight: 400;
  min-width: 320px; }

.container {
  max-width: 100% !important;
  padding: 0 10px !important; }
  .container .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }

.section-header {
  text-align: center;
  padding: 30px 0 20px; }
  .section-header > h2 {
    font-size: 19px;
    color: #333;
    font-weight: 500; }
    .section-header > h2 > small {
      font-size: 11px;
      margin: 5px auto 0;
      display: block;
      font-family: 'Arial', sans-serif; }

.intro {
  position: relative;
  z-index: 200;
  background-color: #fff;
  background-image: url(/mobile/assets/images/main/bg_intro.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover; }
  .intro .section-header {
    padding: 10px 0;
    overflow: hidden; }
    .intro .section-header figure:first-child {
      float: left; }
      .intro .section-header figure:first-child img {
        width: 60px; }
    .intro .section-header figure:last-child {
      padding-top: 10px;
      float: right; }
      .intro .section-header figure:last-child img {
        width: 149px; }
  .intro .section-content {
    text-align: center;
    padding: 30px 0; }
    .intro .section-content > h2 {
      font-size: 42px;
      color: #666;
      font-weight: 500; }
      .intro .section-content > h2 small {
        font-size: 15px;
        display: block;
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 10px;
        font-family: 'Arial', sans-serif; }
    .intro .section-content figure {
      margin-top: 30px; }
      .intro .section-content figure .img-fluid {
        display: block;
        margin: 0 auto; }
    .intro .section-content dl {
      color: #333; }
      .intro .section-content dl dt {
        margin: 0 auto;
        font-weight: 400; }
        .intro .section-content dl dt:after {
          content: ":";
          margin-left: 5px; }
      .intro .section-content dl dd {
        margin: 0 auto;
        font-weight: 400; }
        .intro .section-content dl dd > ul {
          display: inline-block; }
          .intro .section-content dl dd > ul li {
            display: inline-block; }
            .intro .section-content dl dd > ul li:first-child:after {
              content: ",";
              margin: 0 3px; }
      .intro .section-content dl.chn {
        font-size: 15px;
        margin-top: 30px; }
        .intro .section-content dl.chn dt, .intro .section-content dl.chn dd {
          line-height: 22px; }
      .intro .section-content dl.eng {
        font-size: 11px; }
        .intro .section-content dl.eng dt, .intro .section-content dl.eng dd {
          line-height: 16px; }
    .intro .section-content .btn-area {
      width: 100%;
      padding: 0 20px;
      margin-top: 25px; }
      .intro .section-content .btn-area p {
        font-size: 0; }
        .intro .section-content .btn-area p .btn {
          display: inline-block;
          width: 49%;
          font-size: 13px;
          color: #333;
          line-height: 36px;
          border: 2px solid #999;
          text-align: center;
          margin-right: 2%;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .intro .section-content .btn-area p .btn:last-child {
            margin-right: 0; }
          .intro .section-content .btn-area p .btn.btn-eng {
            font-family: 'Arial', sans-serif; }
          .intro .section-content .btn-area p .btn:focus {
            color: #fff;
            border-color: #b71f25;
            background-color: #b71f25; }

.location-guide {
  position: relative;
  padding-bottom: 40px;
  z-index: 1;
  background-color: #f1ede6; }
  .location-guide .section-content .img-fluid {
    width: 100%;
    display: block;
    vertical-align: top; }
    .location-guide .section-content .img-fluid.top-3 {
      position: relative;
      top: -3px; }
    .location-guide .section-content .img-fluid.top-4 {
      position: relative;
      top: -4px; }
  .location-guide .section-content .booth {
    position: relative;
    border: 1px solid #ccc;
    background-color: #fff; }
    .location-guide .section-content .booth .location-map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
    .location-guide .section-content .booth .head {
      position: relative;
      z-index: 1; }
      .location-guide .section-content .booth .head > ul {
        display: table;
        width: 100%; }
        .location-guide .section-content .booth .head > ul > li {
          display: table-cell;
          vertical-align: top; }
          .location-guide .section-content .booth .head > ul > li > ul {
            display: table;
            width: 100%; }
            .location-guide .section-content .booth .head > ul > li > ul > li {
              display: table-cell;
              vertical-align: top; }
    .location-guide .section-content .booth .body {
      position: relative;
      z-index: 1; }
      .location-guide .section-content .booth .body > ul {
        display: table;
        width: 100%; }
        .location-guide .section-content .booth .body > ul > li {
          display: table-cell;
          vertical-align: top; }
          .location-guide .section-content .booth .body > ul > li .cell-content {
            display: table;
            width: 100%; }
            .location-guide .section-content .booth .body > ul > li .cell-content > .img-fluid {
              display: table-cell;
              vertical-align: top; }
            .location-guide .section-content .booth .body > ul > li .cell-content a {
              display: table-cell;
              vertical-align: top; }
    .location-guide .section-content .booth .foot {
      position: relative;
      z-index: 1; }
      .location-guide .section-content .booth .foot > ul {
        display: table;
        width: 100%; }
        .location-guide .section-content .booth .foot > ul > li {
          display: table-cell;
          vertical-align: top; }
          .location-guide .section-content .booth .foot > ul > li .cell-content {
            display: table;
            width: 100%; }
            .location-guide .section-content .booth .foot > ul > li .cell-content > .img-fluid {
              display: table-cell;
              vertical-align: top; }
            .location-guide .section-content .booth .foot > ul > li .cell-content a {
              display: table-cell;
              vertical-align: top; }
  .location-guide .section-content .guide-list {
    margin-top: 10px; }
    .location-guide .section-content .guide-list .table-wrap {
      border: 0;
      margin: 0; }
      .location-guide .section-content .guide-list .table-wrap .table {
        margin: 0;
        border: 0;
        table-layout: fixed; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr th {
          width: 60px;
          font-size: 12px;
          font-weight: bold;
          color: #fff;
          text-align: center;
          vertical-align: middle;
          font-family: 'Arial', sans-serif;
          border: 0;
          border-bottom: 1px solid #dfdfdf; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr td {
          font-size: 12px;
          color: #666;
          font-weight: 400;
          vertical-align: middle;
          padding: 10px;
          text-align: left;
          border: 0;
          border-bottom: 1px solid #dfdfdf;
          background-color: #fff; }
          .location-guide .section-content .guide-list .table-wrap .table tbody tr td a {
            display: block; }
            .location-guide .section-content .guide-list .table-wrap .table tbody tr td a:after {
              font-size: 10px;
              float: right;
              content: "\E801";
              font-family: "fontello"; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr:nth-of-type(1) th {
          background-color: #b71f25; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr:nth-of-type(2) th {
          background-color: #00c3e5; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr:nth-of-type(3) th, .location-guide .section-content .guide-list .table-wrap .table tbody tr:nth-of-type(4) th {
          background-color: #fabd03; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr:nth-of-type(5) th {
          background-color: #8a538c; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr:nth-of-type(6) th {
          background-color: #7fbe31; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr:nth-of-type(7) th {
          background-color: #bd9865; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr:nth-of-type(8) th, .location-guide .section-content .guide-list .table-wrap .table tbody tr:nth-of-type(9) th {
          background-color: #345cb3; }
        .location-guide .section-content .guide-list .table-wrap .table tbody tr:last-child th, .location-guide .section-content .guide-list .table-wrap .table tbody tr:last-child td {
          border-bottom: 0; }

.service-trade {
  padding-bottom: 40px;
  background-color: #fbfbfb;
  background-image: url(/mobile/assets/images/main/bg_service_trade.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 0; }
  .service-trade .section-content .trade-tab > .dropdown .btn-secondary {
    width: 100%;
    height: 35px;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    padding: 0 10px 0 15px;
    background-color: #b71f25;
    text-align: left; }
    .service-trade .section-content .trade-tab > .dropdown .btn-secondary:after {
      width: auto;
      border: 0;
      content: "\E802";
      font-family: "fontello";
      float: right; }
  .service-trade .section-content .trade-tab > .dropdown .dropdown-menu {
    min-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15); }
    .service-trade .section-content .trade-tab > .dropdown .dropdown-menu a {
      font-size: 12px;
      color: #666;
      line-height: 35px;
      font-weight: 300;
      text-align: left;
      margin: 0;
      padding: 0 10px 0 15px;
      border: 0;
      border-bottom: 1px solid #dfdfdf;
      background-color: #fff; }
  .service-trade .section-content .trade-tab > .dropdown.show .btn-secondary:after {
    content: "\E803"; }
  .service-trade .section-content .trade-list {
    margin-top: 20px; }
    .service-trade .section-content .trade-list > ul > li > a {
      display: block;
      border: 1px solid #e2e2e2; }
      .service-trade .section-content .trade-list > ul > li > a figure .img-fluid {
        width: 100%; }
    .service-trade .section-content .trade-list > ul > li:nth-of-type(2) ~ li > a {
      margin-top: 10px; }
  .service-trade .section-content .btn-area {
    margin-top: 20px; }
    .service-trade .section-content .btn-area p .btn-more {
      width: 100%;
      height: 35px;
      font-size: 13px;
      text-align: center;
      line-height: 33px;
      color: #333;
      border: 1px solid #ccc;
      background-color: #fff; }
      .service-trade .section-content .btn-area p .btn-more:after {
        content: "\E804";
        margin-left: 10px;
        font-family: "fontello"; }

.modal-popup .modal-dialog {
  min-width: 300px;
  margin-top: 100px; }
  .modal-popup .modal-dialog .modal-content {
    border: 0;
    border-radius: 0; }
    .modal-popup .modal-dialog .modal-content .modal-header {
      overflow: hidden;
      height: 40px;
      padding: 0 0 0 10px;
      border: 0;
      border-radius: 0;
      background-color: #b71f25; }
      .modal-popup .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 14px;
        color: #fff;
        line-height: 40px; }
      .modal-popup .modal-dialog .modal-content .modal-header .close {
        color: #fff;
        width: 40px;
        height: 40px;
        padding: 0;
        float: right;
        margin: 0;
        border: 0;
        opacity: 1 !important;
        text-align: center; }
        .modal-popup .modal-dialog .modal-content .modal-header .close img {
          width: 12px;
          display: block;
          margin: 0 auto; }
    .modal-popup .modal-dialog .modal-content .modal-body {
      padding: 10px 10px 15px;
      border-radius: 0; }
      .modal-popup .modal-dialog .modal-content .modal-body .map-area {
        position: relative;
        border: 1px solid #ccc; }
        .modal-popup .modal-dialog .modal-content .modal-body .map-area .img-fluid {
          width: 100%; }
        .modal-popup .modal-dialog .modal-content .modal-body .map-area .btn-expand {
          position: absolute;
          top: 0;
          right: 0;
          width: 25px;
          height: 25px;
          border: 0;
          line-height: 25px;
          text-align: center;
          color: #606060;
          background-color: #efefef; }
          .modal-popup .modal-dialog .modal-content .modal-body .map-area .btn-expand .icon-zoom-in {
            position: relative;
            top: -2px;
            font-size: 12px; }
      .modal-popup .modal-dialog .modal-content .modal-body .table-wrap {
        margin-top: 10px; }
        .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table {
          margin: 0;
          border: 0;
          table-layout: fixed;
          border-top: 2px solid #b71f25; }
          .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table tbody tr th {
            width: 70px;
            font-size: 12px;
            color: #333;
            font-weight: 500;
            text-align: left;
            vertical-align: middle;
            padding-left: 10px;
            border-bottom: 1px solid #ccc;
            background-color: #f5f5f5; }
          .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table tbody tr td {
            font-size: 12px;
            color: #666;
            font-weight: 400;
            vertical-align: middle;
            border: 0;
            padding: 10px;
            border-bottom: 1px solid #ccc; }
            .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table tbody tr td.number {
              color: #b71f25; }
      .modal-popup .modal-dialog .modal-content .modal-body .btn-area {
        text-align: right;
        margin-top: 10px; }
        .modal-popup .modal-dialog .modal-content .modal-body .btn-area p .btn-more {
          display: inline-block;
          width: 100%;
          height: 35px;
          font-weight: 400;
          line-height: 35px;
          text-align: center;
          color: #fff;
          border: 0;
          font-size: 11px;
          background-color: #b71f25;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .modal-popup .modal-dialog .modal-content .modal-body .btn-area p .btn-more:hover {
            opacity: .7; }

/*# sourceMappingURL=main.css.map */
