@import 'common';


.section-header {
    text-align: center;
    padding: 80px 0 20px;
    > h2 {
        font-size: 19px;
        color: #333;
        font-weight: 500;
        > small {
            font-size: 11px;
            margin: 5px auto 0;
            display: block;
            @include arial();
        }
        &.arial {
            font-weight: 300;
            @include arial();
        }
    }
}

.trade-tab {
    > .dropdown {
        .btn-secondary {
            width: 100%;
            height: 35px;
            font-size: 12px;
            font-weight: 400;
            line-height: 35px;
            padding: 0 10px 0 15px;
            background-color: #b71f25;
            text-align: left;
            &:after {
                width: auto;
                border: 0;
                content: "\E802";
                font-family: "fontello";
                float: right;
            }
        }
        .dropdown-menu {
            min-width: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
            a {
                font-size: 12px;
                color: #666;
                line-height: 35px;
                font-weight: 300;
                text-align: left;
                margin: 0;
                padding: 0 10px 0 15px;
                border: 0;
                border-bottom: 1px solid #dfdfdf;
                background-color: #fff;
            }
        }
        &.show {
            .btn-secondary {
                &:after {
                    content: "\E803";
                }
            }
        }
    }
}


#content {
    padding-bottom: 40px;
    background-color: #fbfbfb;
    background-image: url(/mobile/assets/images/sub/bg_service_trade.jpg);
    background-position: 50% 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

//view-details
.view-details {
    .section-content {
        min-height: 500px;
        .trade-tab {
            margin-bottom: 20px;
        }
        .company-information {
            padding: 25px 20px;
            border: 1px solid #dfdfdf;
            background-color: #fff;
            .article-header {
                overflow: hidden;
                padding-bottom: 10px;
                border-bottom: 2px solid #b71f25;
                h3 {
                    font-size: 16px;
                    color: #333;
                    font-weight: 500;
                    float: left;
                }
                figure {
                    float: right;
                    img {
                        display: inline-block;
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .article-content {
                figure {
                    margin-top: 15px;
                    .img-fluid {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .information {
                    margin-top: 15px;
                    > li {
                        & ~ li {
                            margin-top: 20px;
                        }
                        > dl {
                            position: relative;
                            padding-left: 70px;
                            text-align: left;
                            > dt {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: inline-block;
                                font-size: 11px;
                                font-weight: 400;
                                color: #333;
                                width: 60px;
                                line-height: 18px;
                            }
                            > dd {
                                display: inline-block;
                                line-height: 18px;
                                font-size: 11px;
                                font-weight: 300;
                                color: #666;
                                vertical-align: top;
                                > a {
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
        .content-list {
            margin-top: 10px;
        }
        .btn-area {
            margin-top: 15px;
            p {
                .btn-lg {
                    width: 100%;
                    font-size: 12px;
                    color: #fff;
                    text-align: center;
                    line-height: 35px;
                    background-color: #b71f25;
                    font-weight: 300;
                }
            }
        }
    }
    &.view-content {
        .section-content {
            article {
                .article-content {
                    padding: 20px 0 0;
                }
            }
        }
    }
}

//content-list
.content-list {
    > li {
        padding: 20px;
        border: 1px solid #dfdfdf;
        background-color: #fff;
        & ~ li {
            margin-top: 10px;
        }
        &.maps {
            a {
                position: relative;
                display: block;
                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 12px;
                    color: #606060;
                    display: block;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    content: "\E805";
                    font-family: "fontello";
                    background-color: #efefef;
                }
            }
            figure {
                padding: 0 6%;
                .img-fluid {
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        > .list-title {
            font-size: 15px;
            color: #333;
            font-weight: 400;
            padding-left: 20px;
            margin-bottom: 10px;
            background-image: url(/mobile/assets/images/ico_list_title.gif);
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: 10px auto;
        }
        > ul {
            > li {
                > a {
                    position: relative;
                    display: block;
                    border: 1px solid #ebebeb;
                    figure {
                        .img-fluid {
                            width: 100%;
                            height: 123px;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 12px;
                        color: #606060;
                        display: block;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        content: "\E805";
                        font-family: "fontello";
                        background-color: #efefef;
                    }
                }
                &:nth-of-type(2) ~ li {
                    > a {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

//sub-modal-popup
.sub-modal-popup {
    padding-right: 0 !important;
    .modal-dialog {
        margin-top: 100px;
        margin-bottom: 100px;
        .modal-content {
            border-radius: 0;
            background: none;
            .modal-header {
                position: relative;
                padding: 15px 10px;
                border-radius: 0;
                background-color: #b71f25;
                h5 {
                    font-size: 15px;
                    color: #fff;
                    font-weight: 400;
                }
                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0;
                    margin: 0;
                    display: block;
                    opacity: 1 !important;
                    width: 53px;
                    height: 53px;
                    background-image: url(/mobile/assets/images/ico_btn_close.png);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 14px auto;
                }
            }
            .modal-body {
                padding: 15px;
                background-color: #fff;
                figure {
                    border: 1px solid #ebebeb;
                    .img-fluid {
                        width: 100%;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
    }
}

// modal-popup
.modal-popup {
    .modal-dialog {
        min-width: 300px;
        margin-top: 100px;
        .modal-content {
            border: 0;
            border-radius: 0;
            .modal-header {
                overflow: hidden;
                height: 40px;
                padding: 0 0 0 10px;
                border: 0;
                border-radius: 0;
                background-color: #b71f25;
                .modal-title {
                    font-size: 14px;
                    color: #fff;
                    line-height: 40px;
                }
                .close {
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    float: right;
                    margin: 0;
                    border: 0;
                    opacity: 1 !important;
                    text-align: center;
                    img {
                        width: 12px;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
            .modal-body {
                padding: 10px 10px 15px;
                border-radius: 0;
                .map-area {
                    position: relative;
                    border: 1px solid #ccc;
                    .img-fluid {
                        width: 100%;
                    }
                    .btn-expand {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 25px;
                        height: 25px;
                        border: 0;
                        line-height: 25px;
                        text-align: center;
                        color: #606060;
                        background-color: #efefef;
                        .icon-zoom-in {
                            position: relative;
                            top: -2px;
                            font-size: 12px;
                        }
                    }
                }
                .table-wrap {
                    margin-top: 10px;
                    .table {
                        margin: 0;
                        border: 0;
                        table-layout: fixed;
                        border-top: 2px solid #b71f25;
                        tbody {
                            tr {
                                th {
                                    width: 70px;
                                    font-size: 12px;
                                    color: #333;
                                    font-weight: 500;
                                    text-align: left;
                                    vertical-align: middle;
                                    padding-left: 10px;
                                    border-bottom: 1px solid #ccc;
                                    background-color: #f5f5f5;
                                }
                                td {
                                    font-size: 12px;
                                    color: #666;
                                    font-weight: 400;
                                    vertical-align: middle;
                                    border: 0;
                                    padding: 10px;
                                    border-bottom: 1px solid #ccc;
                                    &.number {
                                        color: #b71f25;
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-area {
                    text-align: right;
                    margin-top: 10px;
                    p {
                        .btn-more {
                            display: inline-block;
                            width: 100%;
                            height: 35px;
                            font-weight: 400;
                            line-height: 35px;
                            text-align: center;
                            color: #fff;
                            border: 0;
                            font-size: 11px;
                            background-color: #b71f25;
                            @include transition();
                            &:hover {
                                opacity: .7;
                            }
                        }
                    }
                }
            }
        }
    }
}


//search-result
.search-result {
    .section-header {
        .search-form {
            position: relative;
            padding: 0 50px;
            margin-top: 30px;
            .form-group {
                position: relative;
                .form-control {
                    width: 100%;
                    height: 35px;
                    font-size: 12px;
                    padding-left: 10px;
                    padding-right: 40px;
                    border: 1px solid #fff;
                    background-color: #fff;
                }
                .btn-search {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 35px;
                    height: 35px;
                    font-size: 13px;
                    color: #1b1b1d;
                }
            }
        }
    }
    .section-content {
        border-top: 2px solid #666;
        .none-result {
            margin-top: 40px;
            text-align: center;
            font-size: 14px;
            color: #666;
            font-weight: 400;
        }
        .trade-list {
            margin-top: 40px;
            > ul {
                > li {
                    > a {
                        display: block;
                        border: 1px solid #e2e2e2;
                        figure {
                            .img-fluid {
                                width: 100%;
                            }
                        }
                    }
                    &:nth-of-type(2) ~ li {
                        > a {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .btn-area {
            margin-top: 20px;
            p {
                .btn-more {
                    width: 100%;
                    height: 35px;
                    font-size: 13px;
                    text-align: center;
                    line-height: 33px;
                    color: #333;
                    border: 1px solid #ccc;
                    background-color: #fff;
                    &:after {
                        content: "\E804";
                        margin-left: 10px;
                        font-family: "fontello";
                    }
                }
            }
        }
    }
}