@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

body {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  min-width: 1200px; }

.container {
  max-width: 1200px !important; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1200px;
  width: 100%;
  height: 100px;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }
  #header .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 0;
    margin-top: -25px; }
    #header .logo a {
      display: block; }
  #header .global-search {
    position: absolute;
    top: 50%;
    right: 130px;
    width: 270px;
    margin-top: -20px; }
    #header .global-search .form-group {
      position: relative; }
      #header .global-search .form-group .form-control {
        font-size: 14px;
        color: #666;
        font-weight: 300;
        height: 40px;
        padding: 0;
        padding-bottom: 15px;
        border-color: transparent;
        border-bottom: 1px solid #999;
        background-color: transparent; }
      #header .global-search .form-group .search-btn {
        position: absolute;
        bottom: 15px;
        right: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #header .global-search .form-group .search-btn .icon-search {
          font-size: 20px;
          color: #333; }
          #header .global-search .form-group .search-btn .icon-search:before {
            margin: 0; }
        #header .global-search .form-group .search-btn:hover {
          opacity: .6; }
  #header .btn-nav {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 70px;
    height: 70px;
    display: block;
    padding: 0 14px;
    margin-top: -35px; }
    #header .btn-nav .bar {
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      display: block;
      width: 40px;
      height: 4px;
      margin: 0 0 8px auto;
      background-color: #b71f25; }
      #header .btn-nav .bar:last-child {
        width: 20px;
        margin-bottom: 0; }
    #header .btn-nav:hover .bar:last-child {
      width: 40px; }

.fp-viewing-1 #header, .fp-viewing-2 #header, .fp-viewing-3 #header, .fp-viewing-4 #header {
  opacity: 1;
  z-index: 100; }

#nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 0;
  height: 100%;
  z-index: 200;
  overflow: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #nav .nav-body {
    position: relative;
    width: 615px;
    height: 100%;
    float: right;
    padding: 150px 70px 0;
    background-color: #b71f25; }
    #nav .nav-body .nav-close {
      position: absolute;
      top: 35px;
      right: 70px;
      width: 40px;
      height: 40px;
      text-align: center; }
      #nav .nav-body .nav-close img {
        display: inline-block; }
    #nav .nav-body .gnb-menu > ul > li > a {
      position: relative;
      display: inline-block;
      font-size: 25px;
      color: #ff8186;
      font-weight: 300;
      line-height: 60px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      #nav .nav-body .gnb-menu > ul > li > a span {
        position: absolute;
        bottom: 5px;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: #fff;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      #nav .nav-body .gnb-menu > ul > li > a:hover {
        color: #fff; }
        #nav .nav-body .gnb-menu > ul > li > a:hover span {
          width: 100%;
          margin-left: -50%; }
          #nav .nav-body .gnb-menu > ul > li > a:hover span:after {
            width: 100%; }
    #nav .nav-body .gnb-menu > ul > li > ul {
      display: none;
      padding: 10px 20px; }
      #nav .nav-body .gnb-menu > ul > li > ul > li > a {
        font-size: 22px;
        line-height: 45px;
        color: #fff;
        font-weight: 300; }
        #nav .nav-body .gnb-menu > ul > li > ul > li > a:before {
          content: "- "; }
    #nav .nav-body .gnb-menu > ul > li.active > a {
      color: #fff; }
      #nav .nav-body .gnb-menu > ul > li.active > a span {
        width: 100%;
        margin-left: -50%; }
        #nav .nav-body .gnb-menu > ul > li.active > a span:after {
          width: 100%; }
    #nav .nav-body .gnb-menu > ul > li.active > ul {
      display: block; }

.opened #nav {
  right: 0;
  width: 100%; }
  .opened #nav .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }

.section .section-header {
  text-align: center;
  margin-bottom: 50px; }
  .section .section-header h2 {
    font-size: 38px;
    color: #333;
    font-weight: 500; }
    .section .section-header h2 small {
      display: block;
      font-weight: 300;
      font-size: 20px;
      margin-top: 10px;
      font-family: 'Arial', sans-serif; }
.section.intro {
  background-image: url(/assets/images/visual.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .section.intro h1 {
    color: #fff; }
.section.location-guide {
  background-color: #f1ede6; }
  .section.location-guide .section-content {
    position: relative;
    width: 100%;
    height: 667px;
    padding-left: 100px;
    border: 1px solid #ccc;
    background-color: #fff; }
    .section.location-guide .section-content .guide-list {
      position: absolute;
      top: 0;
      left: 0; }
      .section.location-guide .section-content .guide-list > li {
        position: relative;
        z-index: 2; }
        .section.location-guide .section-content .guide-list > li > a {
          overflow: hidden;
          display: block;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .section.location-guide .section-content .guide-list > li > a > h3 {
            float: left;
            text-align: center;
            width: 100px;
            font-size: 15px;
            color: #666;
            line-height: 73px;
            font-weight: bold;
            letter-spacing: -.5px;
            font-family: 'Arial', sans-serif;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc; }
          .section.location-guide .section-content .guide-list > li > a > .summary {
            position: relative;
            top: -1px;
            display: none;
            width: 370px;
            color: #fff;
            line-height: 72px;
            height: 74px;
            float: left;
            font-size: 18px;
            padding-left: 30px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .section.location-guide .section-content .guide-list > li > a > .summary:after {
              position: absolute;
              top: 0;
              right: 30px;
              font-size: 16px;
              content: "\E800";
              font-family: "fontello"; }
        .section.location-guide .section-content .guide-list > li:last-child > a {
          border-bottom: 0; }
        .section.location-guide .section-content .guide-list > li.active > a {
          width: auto; }
          .section.location-guide .section-content .guide-list > li.active > a > h3 {
            color: #fff;
            border-right: 1px solid #fff; }
          .section.location-guide .section-content .guide-list > li.active > a > .summary {
            display: block; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(1).active > a {
          background-color: #b71f25; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(2).active > a {
          background-color: #00c3e5; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(3).active > a, .section.location-guide .section-content .guide-list > li:nth-of-type(4).active > a {
          background-color: #fabd03; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(5).active > a {
          background-color: #8a538c; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(6).active > a {
          background-color: #7fbe31; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(7).active > a {
          background-color: #bd9865; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(8).active > a, .section.location-guide .section-content .guide-list > li:nth-of-type(9).active > a {
          background-color: #345cb3; }
    .section.location-guide .section-content .location-area {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 55px; }
      .section.location-guide .section-content .location-area .map {
        position: relative;
        width: 555px;
        height: 555px;
        margin: 0 auto;
        background-image: url(/assets/images/main/bg_location_guide.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 555px 555px; }
        .section.location-guide .section-content .location-area .map a {
          position: absolute;
          z-index: 1; }
          .section.location-guide .section-content .location-area .map a.area-1 {
            top: 59px;
            right: 202px; }
          .section.location-guide .section-content .location-area .map a.area-2 {
            top: 59px;
            left: 202px; }
          .section.location-guide .section-content .location-area .map a.area-3 {
            top: 202px;
            left: 58px; }
          .section.location-guide .section-content .location-area .map a.area-4 {
            bottom: 202px;
            left: 58px; }
          .section.location-guide .section-content .location-area .map a.area-5 {
            bottom: 59px;
            left: 202px; }
          .section.location-guide .section-content .location-area .map a.area-6 {
            bottom: 59px;
            right: 202px; }
          .section.location-guide .section-content .location-area .map a.area-7 {
            bottom: 202px;
            right: 131px; }
          .section.location-guide .section-content .location-area .map a.area-8 {
            bottom: 202px;
            right: 60px; }
          .section.location-guide .section-content .location-area .map a.area-9 {
            top: 203px;
            right: 60px; }
.section.service-trade {
  position: relative;
  background-image: url(/assets/images/bg_service_trade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .section.service-trade .section-content .trade-tab > ul {
    overflow: hidden;
    width: 100%; }
    .section.service-trade .section-content .trade-tab > ul > li {
      float: left;
      width: 25%; }
      .section.service-trade .section-content .trade-tab > ul > li > a {
        display: block;
        font-size: 15px;
        color: #666;
        text-align: center;
        line-height: 54px;
        border: 1px solid #ccc;
        border-left: 0;
        background-color: #fff;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .section.service-trade .section-content .trade-tab > ul > li > a:hover {
          color: #fff;
          opacity: .7;
          border-color: #b71f25 !important;
          background-color: #b71f25; }
      .section.service-trade .section-content .trade-tab > ul > li.active > a {
        color: #fff;
        border-color: #b71f25 !important;
        background-color: #b71f25; }
        .section.service-trade .section-content .trade-tab > ul > li.active > a:hover {
          opacity: 1; }
      .section.service-trade .section-content .trade-tab > ul > li:nth-of-type(4n + 1) {
        clear: both; }
        .section.service-trade .section-content .trade-tab > ul > li:nth-of-type(4n + 1) > a {
          border-left: 1px solid #ccc; }
      .section.service-trade .section-content .trade-tab > ul > li:nth-of-type(4) ~ li > a {
        border-top: 0; }
  .section.service-trade .section-content .trade-list {
    margin-top: 50px; }
    .section.service-trade .section-content .trade-list > ul > li > a {
      display: block;
      border: 1px solid #e2e2e2; }
      .section.service-trade .section-content .trade-list > ul > li > a figure .img-fluid {
        width: 100%; }
    .section.service-trade .section-content .trade-list > ul > li:nth-of-type(4) ~ li > a {
      margin-top: 30px; }
  .section.service-trade .section-content .paging {
    margin-top: 60px; }

#footer {
  width: 100%;
  height: 165px !important;
  z-index: 1;
  text-align: center;
  background-color: #282828; }
  #footer .fp-tableCell {
    height: 165px !important; }
  #footer .company-info {
    padding: 35px 0; }
    #footer .company-info > ul {
      width: 800px;
      display: inline-block; }
      #footer .company-info > ul > li {
        line-height: 24px;
        display: inline-block; }
        #footer .company-info > ul > li:nth-of-type(2n + 1) {
          margin-right: 25px; }
        #footer .company-info > ul > li:nth-of-type(2):after {
          display: block;
          content: " "; }
        #footer .company-info > ul > li > dl {
          font-size: 12px;
          color: #999; }
          #footer .company-info > ul > li > dl > dt {
            display: inline-block;
            font-weight: 400; }
          #footer .company-info > ul > li > dl > dd {
            display: inline-block;
            font-weight: 400; }
            #footer .company-info > ul > li > dl > dd > ul > li {
              display: inline-block; }
              #footer .company-info > ul > li > dl > dd > ul > li:after {
                content: "/";
                margin: 0 4px 0 7px; }
              #footer .company-info > ul > li > dl > dd > ul > li:last-child:after {
                content: "";
                margin: 0; }
  #footer hr {
    display: block;
    width: 100%;
    margin: 0;
    border-top: 1px solid #3e3e3e; }
  #footer .copyright {
    font-size: 12px;
    color: #666;
    font-weight: 300;
    line-height: 46px;
    font-family: 'Arial', sans-serif; }

.paging {
  text-align: center; }
  .paging .pagination {
    display: inline-block; }
    .paging .pagination li {
      display: inline-block; }
      .paging .pagination li > a {
        font-size: 18px;
        font-weight: 400;
        color: #aeaeaf;
        font-family: 'Titillium Web', sans-serif;
        margin: 0 10px; }
        .paging .pagination li > a i {
          font-size: 20px; }
          .paging .pagination li > a i:before {
            margin: 0; }
      .paging .pagination li.active > a {
        position: relative;
        font-weight: 600;
        color: #b71f25; }
        .paging .pagination li.active > a span {
          position: absolute;
          bottom: 0;
          left: 0;
          display: inline-block;
          width: 100%;
          height: 1px;
          background-color: #b71f25; }
      .paging .pagination li.first > a, .paging .pagination li.prev > a, .paging .pagination li.last > a, .paging .pagination li.next > a {
        margin: 0 5px; }
      .paging .pagination li.prev > a {
        margin-right: 20px; }
      .paging .pagination li.next > a {
        margin-left: 20px; }

.modal-popup .modal-dialog {
  min-width: 830px;
  margin-top: 100px; }
  .modal-popup .modal-dialog .modal-content {
    border: 0;
    border-radius: 0; }
    .modal-popup .modal-dialog .modal-content .modal-header {
      overflow: hidden;
      height: 60px;
      padding: 0 0 0 30px;
      border: 0;
      border-radius: 0;
      background-color: #b71f25; }
      .modal-popup .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 20px;
        color: #fff;
        line-height: 60px; }
      .modal-popup .modal-dialog .modal-content .modal-header .close {
        width: 60px;
        height: 60px;
        color: #fff;
        padding: 0;
        float: right;
        line-height: 60px;
        margin: 0;
        border: 0;
        opacity: 1 !important;
        text-align: center; }
        .modal-popup .modal-dialog .modal-content .modal-header .close i {
          font-size: 24px;
          line-height: 24px; }
    .modal-popup .modal-dialog .modal-content .modal-body {
      padding: 30px;
      border-radius: 0; }
      .modal-popup .modal-dialog .modal-content .modal-body .map-area {
        position: relative;
        border: 1px solid #ccc; }
        .modal-popup .modal-dialog .modal-content .modal-body .map-area .img-fluid {
          width: 100%; }
        .modal-popup .modal-dialog .modal-content .modal-body .map-area .btn-expand {
          position: absolute;
          top: 0;
          right: 0;
          width: 50px;
          height: 50px;
          border: 0;
          line-height: 50px;
          text-align: center;
          color: #606060;
          background-color: #efefef;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .modal-popup .modal-dialog .modal-content .modal-body .map-area .btn-expand .icon-zoom-in-1 {
            font-size: 24px;
            line-height: 24px; }
          .modal-popup .modal-dialog .modal-content .modal-body .map-area .btn-expand:hover {
            opacity: .7; }
      .modal-popup .modal-dialog .modal-content .modal-body .table-wrap {
        margin-top: 15px; }
        .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table {
          margin: 0;
          border: 0;
          table-layout: fixed;
          border-top: 2px solid #b71f25; }
          .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table tbody tr th {
            width: 170px;
            font-size: 14px;
            color: #333;
            font-weight: 400;
            text-align: left;
            vertical-align: middle;
            padding: 20px 20px 20px 25px;
            border-bottom: 1px solid #ccc;
            background-color: #f5f5f5; }
          .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table tbody tr td {
            font-size: 13px;
            color: #666;
            font-weight: 400;
            vertical-align: middle;
            border: 0;
            padding: 20px 20px 20px 30px;
            border-bottom: 1px solid #ccc; }
            .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table tbody tr td.number {
              color: #b71f25; }
      .modal-popup .modal-dialog .modal-content .modal-body .btn-area {
        text-align: right;
        margin-top: 20px; }
        .modal-popup .modal-dialog .modal-content .modal-body .btn-area p .btn-more {
          display: inline-block;
          width: 200px;
          height: 50px;
          font-weight: 400;
          line-height: 50px;
          text-align: center;
          color: #fff;
          border: 0;
          font-size: 15px;
          background-color: #b71f25;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .modal-popup .modal-dialog .modal-content .modal-body .btn-area p .btn-more:hover {
            opacity: .7; }

/*# sourceMappingURL=default.css.map */
