@charset "UTF-8";
@import url(/assets/css/font/notosanssc.css);
@import url(/assets/css/font/titillium.css);
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

body {
  position: relative;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  min-width: 1200px; }
  body.eng {
    font-family: 'Arial', sans-serif !important; }

.container {
  max-width: 1200px !important; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none !important;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.section .section-header {
  text-align: center;
  margin-bottom: 40px; }
  .section .section-header h2 {
    font-size: 38px;
    color: #333;
    font-weight: 500; }
    .section .section-header h2 small {
      display: block;
      font-weight: 300;
      font-size: 20px;
      margin-top: 10px;
      font-family: 'Arial', sans-serif; }
.section.location-guide {
  background-color: #f1ede6; }
  .section.location-guide .section-content {
    position: relative;
    width: 100%;
    height: 741px;
    padding-left: 100px;
    border: 1px solid #ccc;
    background-color: #fff; }
    .section.location-guide .section-content .guide-list {
      position: absolute;
      top: 0;
      left: 0; }
      .section.location-guide .section-content .guide-list > li {
        position: relative;
        z-index: 2; }
        .section.location-guide .section-content .guide-list > li > a {
          overflow: hidden;
          display: block;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .section.location-guide .section-content .guide-list > li > a > h3 {
            float: left;
            text-align: center;
            width: 100px;
            font-size: 15px;
            color: #666;
            line-height: 73px;
            font-weight: bold;
            letter-spacing: -.5px;
            font-family: 'Arial', sans-serif;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc; }
          .section.location-guide .section-content .guide-list > li > a > .summary {
            position: relative;
            top: -1px;
            display: none;
            width: 370px;
            color: #fff;
            line-height: 72px;
            height: 74px;
            float: left;
            font-size: 18px;
            padding-left: 30px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .section.location-guide .section-content .guide-list > li > a > .summary:after {
              position: absolute;
              top: 0;
              right: 30px;
              font-size: 16px;
              content: "\E800";
              font-family: "fontello"; }
        .section.location-guide .section-content .guide-list > li:last-child > a {
          border-bottom: 0; }
        .section.location-guide .section-content .guide-list > li.active > a {
          width: auto; }
          .section.location-guide .section-content .guide-list > li.active > a > h3 {
            color: #fff;
            border-right: 1px solid #fff; }
          .section.location-guide .section-content .guide-list > li.active > a > .summary {
            display: block; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(1).active > a {
          background-color: #b71f25; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(2).active > a {
          background-color: #00c3e5; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(3).active > a, .section.location-guide .section-content .guide-list > li:nth-of-type(4).active > a {
          background-color: #fabd03; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(5).active > a {
          background-color: #8a538c; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(6).active > a {
          background-color: #3f9f91; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(7).active > a {
          background-color: #7fbe31; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(8).active > a {
          background-color: #bd9865; }
        .section.location-guide .section-content .guide-list > li:nth-of-type(9).active > a, .section.location-guide .section-content .guide-list > li:nth-of-type(10).active > a {
          background-color: #345cb3; }
    .section.location-guide .section-content .location-area {
      position: relative;
      width: 100%;
      height: 100%;
      padding-top: 95px; }
      .section.location-guide .section-content .location-area .map {
        position: relative;
        width: 555px;
        height: 555px;
        margin: 0 auto;
        background-image: url(/assets/images/main/bg_location_guide.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 555px 555px; }
        .section.location-guide .section-content .location-area .map a {
          position: absolute;
          z-index: 1; }
          .section.location-guide .section-content .location-area .map a.area-1 {
            top: 59px;
            right: 202px; }
          .section.location-guide .section-content .location-area .map a.area-2 {
            top: 59px;
            left: 202px; }
          .section.location-guide .section-content .location-area .map a.area-3 {
            top: 202px;
            left: 58px; }
          .section.location-guide .section-content .location-area .map a.area-4 {
            bottom: 202px;
            left: 58px; }
          .section.location-guide .section-content .location-area .map a.area-5 {
            bottom: 59px;
            left: 202px; }
          .section.location-guide .section-content .location-area .map a.area-5-2 {
            bottom: 130px;
            left: 202px; }
          .section.location-guide .section-content .location-area .map a.area-6 {
            bottom: 59px;
            right: 202px; }
          .section.location-guide .section-content .location-area .map a.area-7 {
            bottom: 202px;
            right: 131px; }
          .section.location-guide .section-content .location-area .map a.area-8 {
            bottom: 202px;
            right: 60px; }
          .section.location-guide .section-content .location-area .map a.area-9 {
            top: 203px;
            right: 60px; }
.section.service-trade {
  position: relative;
  background-image: url(/assets/images/bg_service_trade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6f6f6;
  background-position: 50% 50%; }
  .section.service-trade .section-content {
    min-height: 620px; }
    .section.service-trade .section-content .trade-tab .dropdown {
      display: block;
      width: 540px;
      margin: 0 auto; }
      .section.service-trade .section-content .trade-tab .dropdown .btn-secondary {
        width: 100%;
        color: #fff;
        font-size: 15px;
        text-align: left;
        line-height: 54px;
        padding: 0 15px;
        background-color: #b71f25 !important; }
        .section.service-trade .section-content .trade-tab .dropdown .btn-secondary:after {
          width: auto;
          font-size: 20px;
          float: right;
          border: 0;
          content: "\E802";
          font-family: "fontello"; }
      .section.service-trade .section-content .trade-tab .dropdown .dropdown-menu {
        margin: 0;
        padding: 0;
        border-top: 0;
        border-bottom: 0;
        min-width: 100%;
        transform: translate3d(0px, 54px, 0px) !important;
        border-radius: 0; }
        .section.service-trade .section-content .trade-tab .dropdown .dropdown-menu > a {
          font-size: 15px;
          display: block;
          padding: 0 15px;
          border: 0;
          line-height: 54px;
          border-bottom: 1px solid #ccc; }
      .section.service-trade .section-content .trade-tab .dropdown.show .btn-secondary:after {
        content: "\E805"; }
    .section.service-trade .section-content .trade-list {
      margin-top: 50px; }
      .section.service-trade .section-content .trade-list > ul > li > a {
        display: block;
        border: 1px solid #e2e2e2; }
        .section.service-trade .section-content .trade-list > ul > li > a figure .img-fluid {
          width: 100%; }
      .section.service-trade .section-content .trade-list > ul > li:nth-of-type(4) ~ li > a {
        margin-top: 30px; }
    .section.service-trade .section-content .paging {
      margin-top: 60px; }

.modal-popup .modal-dialog {
  min-width: 830px;
  margin-top: 100px;
  margin-bottom: 100px; }
  .modal-popup .modal-dialog .modal-content {
    display: block !important;
    border: 0;
    border-radius: 0; }
    .modal-popup .modal-dialog .modal-content .modal-header {
      overflow: hidden;
      height: 60px;
      padding: 0 0 0 30px;
      border: 0;
      border-radius: 0;
      background-color: #b71f25; }
      .modal-popup .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 20px;
        color: #fff;
        line-height: 60px; }
      .modal-popup .modal-dialog .modal-content .modal-header .close {
        width: 60px;
        height: 60px;
        color: #fff;
        padding: 0;
        float: right;
        margin: 0;
        border: 0;
        opacity: 1 !important;
        text-align: center; }
        .modal-popup .modal-dialog .modal-content .modal-header .close img {
          display: block;
          margin: 0 auto; }
    .modal-popup .modal-dialog .modal-content .modal-body {
      padding: 30px;
      border-radius: 0; }
      .modal-popup .modal-dialog .modal-content .modal-body .map-area {
        position: relative;
        border: 1px solid #ccc; }
        .modal-popup .modal-dialog .modal-content .modal-body .map-area .img-fluid {
          width: 100%; }
        .modal-popup .modal-dialog .modal-content .modal-body .map-area .btn-expand {
          position: absolute;
          top: 0;
          right: 0;
          width: 50px;
          height: 50px;
          border: 0;
          line-height: 50px;
          text-align: center;
          color: #606060;
          background-color: #efefef;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .modal-popup .modal-dialog .modal-content .modal-body .map-area .btn-expand .icon-zoom-in-1 {
            font-size: 24px;
            line-height: 24px; }
          .modal-popup .modal-dialog .modal-content .modal-body .map-area .btn-expand:hover {
            opacity: .7; }
      .modal-popup .modal-dialog .modal-content .modal-body .table-wrap {
        margin-top: 15px; }
        .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table {
          margin: 0;
          border: 0;
          table-layout: fixed;
          border-top: 2px solid #b71f25; }
          .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table tbody tr th {
            width: 170px;
            font-size: 14px;
            color: #333;
            font-weight: 500;
            text-align: left;
            vertical-align: middle;
            padding: 20px 20px 20px 25px;
            border-bottom: 1px solid #ccc;
            background-color: #f5f5f5; }
          .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table tbody tr td {
            font-size: 13px;
            color: #666;
            font-weight: 400;
            vertical-align: middle;
            border: 0;
            padding: 20px 20px 20px 30px;
            border-bottom: 1px solid #ccc; }
            .modal-popup .modal-dialog .modal-content .modal-body .table-wrap .table tbody tr td.number {
              color: #b71f25; }
      .modal-popup .modal-dialog .modal-content .modal-body .btn-area {
        text-align: right;
        margin-top: 20px; }
        .modal-popup .modal-dialog .modal-content .modal-body .btn-area p .btn-more {
          display: inline-block;
          width: 200px;
          height: 50px;
          font-weight: 400;
          line-height: 50px;
          text-align: center;
          color: #fff;
          border: 0;
          font-size: 15px;
          background-color: #b71f25;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .modal-popup .modal-dialog .modal-content .modal-body .btn-area p .btn-more:hover {
            opacity: .7; }

.intro {
  position: relative;
  background-image: url(/assets/images/main/bg_intro.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover; }
  .intro .section-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px 0 !important;
    margin: 0;
    overflow: hidden; }
    .intro .section-header figure:first-child {
      float: left; }
    .intro .section-header figure:last-child {
      float: right;
      padding-top: 20px; }
  .intro .section-content {
    text-align: center;
    padding-top: 5%; }
    .intro .section-content h2 {
      font-size: 110px;
      color: #666;
      font-weight: 500; }
      .intro .section-content h2 small {
        font-size: 38px;
        font-weight: bold;
        letter-spacing: 3px;
        font-family: 'Arial', sans-serif;
        display: block;
        margin-top: 20px; }
    .intro .section-content figure {
      margin-top: 30px; }
      .intro .section-content figure .img-fluid {
        display: inline-block; }
    .intro .section-content .details {
      margin-top: 40px; }
      .intro .section-content .details dl {
        color: #333; }
        .intro .section-content .details dl dt {
          display: inline-block; }
          .intro .section-content .details dl dt:after {
            content: ":";
            margin: 0 3px; }
        .intro .section-content .details dl dd {
          display: inline-block; }
        .intro .section-content .details dl.chn {
          font-size: 23px; }
        .intro .section-content .details dl.eng {
          font-size: 18px;
          margin-top: 10px; }
    .intro .section-content .btn-area {
      margin-top: 50px; }
      .intro .section-content .btn-area p {
        font-size: 0; }
        .intro .section-content .btn-area p .btn {
          display: inline-block;
          font-size: 20px;
          color: #333;
          width: 235px;
          height: 65px;
          line-height: 61px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          margin-right: 30px;
          border: 2px solid #999;
          background: none; }
          .intro .section-content .btn-area p .btn:last-child {
            margin-right: 0; }
          .intro .section-content .btn-area p .btn:hover {
            color: #fff;
            border-color: #b71f25;
            background-color: #b71f25; }
          .intro .section-content .btn-area p .btn.btn-eng {
            font-weight: 300;
            font-family: 'Arial', sans-serif; }
    .intro .section-content .ico-scroll {
      margin-top: 40px;
      /*figcaption {
          margin-top: 10px;
          font-size: 13px;
          color: #999;
          font-weight: lighter;
          letter-spacing: 1px;
          @include arial();
      }*/ }
      .intro .section-content .ico-scroll img {
        position: relative;
        top: -15px;
        display: inline-block;
        opacity: 1;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .intro .section-content .ico-scroll.on img {
        top: 0px; }

body.eng .section.location-guide .section-content .guide-list > li > a > .summary {
  width: 440px !important; }

/*# sourceMappingURL=main.css.map */
