@import 'common';

.section {
    .section-header {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 38px;
            color: #333;
            font-weight: 500;
            small {
                display: block;
                font-weight: 300;
                font-size: 20px;
                margin-top: 10px;
                @include arial();
            }
        }
    }
    &.location-guide {
        background-color: #f1ede6;
        .section-content {
            position: relative;
            width: 100%;
            height: 667px;
            padding-left: 100px;
            border: 1px solid #ccc;
            background-color: #fff;
            .guide-list {
                position: absolute;
                top: 0;
                left: 0;
                > li {
                    position: relative;
                    z-index: 2;
                    > a {
                        overflow: hidden;
                        display: block;
                        @include transition();
                        > h3 {
                            float: left;
                            text-align: center;
                            width: 100px;
                            font-size: 15px;
                            color: #666;
                            line-height: 73px;
                            font-weight: bold;
                            letter-spacing: -.5px;
                            @include arial();
                            @include transition();
                            border-right: 1px solid #ccc;
                            border-bottom: 1px solid #ccc;
                        }
                        > .summary {
                            position: relative;
                            top: -1px;
                            display: none;
                            width: 370px;
                            color: #fff;
                            line-height: 72px;
                            height: 74px;
                            float: left;
                            font-size: 18px;
                            padding-left: 30px;
                            @include transition();
                            &:after {
                                position: absolute;
                                top: 0;
                                right: 30px;
                                font-size: 16px;
                                content: "\E800";
                                font-family: "fontello";
                            }
                        }
                    }
                    &:last-child {
                        > a {
                            border-bottom: 0;
                        }
                    }
                    &.active {
                        > a {
                            width: auto;
                            > h3 {
                                color: #fff;
                                border-right: 1px solid #fff;
                            }
                            > .summary {
                                display: block;
                            }
                        }
                    }
                    &:nth-of-type(1) {
                        &.active {
                            > a {
                                background-color: #b71f25;
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        &.active {
                            > a {
                                background-color: #00c3e5;
                            }
                        }
                    }
                    &:nth-of-type(3), &:nth-of-type(4) {
                        &.active {
                            > a {
                                background-color: #fabd03;
                            }
                        }
                    }
                    &:nth-of-type(5) {
                        &.active {
                            > a {
                                background-color: #8a538c;
                            }
                        }
                    }
                    &:nth-of-type(6) {
                        &.active {
                            > a {
                                background-color: #7fbe31;
                            }
                        }
                    }
                    &:nth-of-type(7) {
                        &.active {
                            > a {
                                background-color: #bd9865;
                            }
                        }
                    }
                    &:nth-of-type(8), &:nth-of-type(9) {
                        &.active {
                            > a {
                                background-color: #345cb3;
                            }
                        }
                    }
                }
            }
            .location-area {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 55px;
                .map {
                    position: relative;
                    width: 555px;
                    height: 555px;
                    margin: 0 auto;
                    background-image: url(/assets/images/main/bg_location_guide.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 555px 555px;
                    a {
                        position: absolute;
                        z-index: 1;
                        &.area-1 {
                            top: 59px;
                            right: 202px;
                        }
                        &.area-2 {
                            top: 59px;
                            left: 202px;
                        }
                        &.area-3 {
                            top: 202px;
                            left: 58px;
                        }
                        &.area-4 {
                            bottom: 202px;
                            left: 58px;
                        }
                        &.area-5 {
                            bottom: 59px;
                            left: 202px;
                        }
                        &.area-6 {
                            bottom: 59px;
                            right: 202px;
                        }
                        &.area-7 {
                            bottom: 202px;
                            right: 131px;
                        }
                        &.area-8 {
                            bottom: 202px;
                            right: 60px;
                        }
                        &.area-9 {
                            top: 203px;
                            right: 60px;
                        }
                    }
                }
            }
        }
    }
    &.service-trade {
        position: relative;
        background-image: url(/assets/images/bg_service_trade.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        .section-content {
            .trade-tab {
                > ul {
                    overflow: hidden;
                    width: 100%;
                    > li {
                        float: left;
                        width: 33.33%;
                        > a {
                            display: block;
                            font-size: 15px;
                            color: #666;
                            text-align: center;
                            line-height: 54px;
                            border: 1px solid #ccc;
                            border-left: 0;
                            background-color: #fff;
                            @include transition();
                            &:hover {
                                color: #b71f25;
                            }
                        }
                        &.active {
                            > a {
                                color: #fff;
                                border-color: #b71f25 !important;
                                background-color: #b71f25;
                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                        &:nth-of-type(3n + 1) {
                            clear: both;
                            > a {
                                border-left: 1px solid #ccc;
                            }
                        }
                        &:nth-of-type(3) ~ li {
                            > a {
                                border-top: 0;
                            }
                        }
                    }
                }
            }
            .trade-list {
                margin-top: 50px;
                > ul {
                    > li {
                        > a {
                            display: block;
                            border: 1px solid #e2e2e2;
                            figure {
                                .img-fluid {
                                    width: 100%;
                                }
                            }
                        }
                        &:nth-of-type(4) ~ li {
                            > a {
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
            .paging {
                margin-top: 60px;
            }
        }
    }
}


// modal-popup
.modal-popup {
    .modal-dialog {
        min-width: 830px;
        margin-top: 100px;
        .modal-content {
            border: 0;
            border-radius: 0;
            .modal-header {
                overflow: hidden;
                height: 60px;
                padding: 0 0 0 30px;
                border: 0;
                border-radius: 0;
                background-color: #b71f25;
                .modal-title {
                    font-size: 20px;
                    color: #fff;
                    line-height: 60px;
                }
                .close {
                    width: 60px;
                    height: 60px;
                    color: #fff;
                    padding: 0;
                    float: right;
                    margin: 0;
                    border: 0;
                    opacity: 1 !important;
                    text-align: center;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
            .modal-body {
                padding: 30px;
                border-radius: 0;
                .map-area {
                    position: relative;
                    border: 1px solid #ccc;
                    .img-fluid {
                        width: 100%;
                    }
                    .btn-expand {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 50px;
                        height: 50px;
                        border: 0;
                        line-height: 50px;
                        text-align: center;
                        color: #606060;
                        background-color: #efefef;
                        @include transition();
                        .icon-zoom-in-1 {
                            font-size: 24px;
                            line-height: 24px;
                        }
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
                .table-wrap {
                    margin-top: 15px;
                    .table {
                        margin: 0;
                        border: 0;
                        table-layout: fixed;
                        border-top: 2px solid #b71f25;
                        tbody {
                            tr {
                                th {
                                    width: 170px;
                                    font-size: 14px;
                                    color: #333;
                                    font-weight: 500;
                                    text-align: left;
                                    vertical-align: middle;
                                    padding: 20px 20px 20px 25px;
                                    border-bottom: 1px solid #ccc;
                                    background-color: #f5f5f5;
                                }
                                td {
                                    font-size: 13px;
                                    color: #666;
                                    font-weight: 400;
                                    vertical-align: middle;
                                    border: 0;
                                    padding: 20px 20px 20px 30px;
                                    border-bottom: 1px solid #ccc;
                                    &.number {
                                        color: #b71f25;
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-area {
                    text-align: right;
                    margin-top: 20px;
                    p {
                        .btn-more {
                            display: inline-block;
                            width: 200px;
                            height: 50px;
                            font-weight: 400;
                            line-height: 50px;
                            text-align: center;
                            color: #fff;
                            border: 0;
                            font-size: 15px;
                            background-color: #b71f25;
                            @include transition();
                            &:hover {
                                opacity: .7;
                            }
                        }
                    }
                }
            }
        }
    }
}

// intro
.intro {
    position: relative;
    background-image: url(/assets/images/main/bg_intro.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    .section-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 30px 0 !important;
        margin: 0;
        overflow: hidden;
        figure {
            &:first-child {
                float: left;
            }
            &:last-child {
                float: right;
                padding-top: 20px;
            }
        }
    }
    .section-content {
        text-align: center;
        padding-top: 5%;
        h2 {
            font-size: 110px;
            color: #666;
            font-weight: 500;
            small {
                font-size: 38px;
                font-weight: bold;
                letter-spacing: 3px;
                @include arial();
                display: block;
                margin-top: 20px;
            }
        }
        figure {
            margin-top: 30px;
            .img-fluid {
                display: inline-block;
            }
        }
        .details {
            margin-top: 40px;
            dl {
                color: #333;
                dt {
                    display: inline-block;
                    &:after {
                        content: ":";
                        margin: 0 3px;
                    }
                }
                dd {
                    display: inline-block;
                }
                &.chn {
                    font-size: 23px;
                }
                &.eng {
                    font-size: 18px;
                    margin-top: 10px;
                }
            }
        }
        .btn-area {
            margin-top: 50px;
            p {
                font-size: 0;
                .btn {
                    display: inline-block;
                    font-size: 20px;
                    color: #333;
                    width: 235px;
                    height: 65px;
                    line-height: 61px;
                    @include transition();
                    margin-right: 30px;
                    border: 2px solid #999;
                    background: none;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        color: #fff;
                        border-color: #b71f25;
                        background-color: #b71f25;
                    }
                    &.btn-eng {
                        font-weight: 300;
                        @include arial();
                    }
                }
            }
        }
        .ico-scroll {
            margin-top: 40px;
            img {
                position: relative;
                top: -15px;
                display: inline-block;
                opacity: 1;
                @include transition($duration: .5s);
            }
            /*figcaption {
                margin-top: 10px;
                font-size: 13px;
                color: #999;
                font-weight: lighter;
                letter-spacing: 1px;
                @include arial();
            }*/
            &.on {
                img {
                    top: 0px;
                }
            }
        }
    }
}









